@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..900&display=swap");
/* self-hosted Plus Jakarta Sans */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Root fallback */
:root, html, body {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  font-family: var(--font-primary) !important;
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@theme {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  /* hồng */
  --color-highlight: #ee2b7c;

  --color-primary: #333333;

  --color-success-bg: #dcfce7;
  --color-success-text: #00540f;
  --color-success-border: #00540f;

  --color-error-bg: #ffe2e2;
  --color-error-text: #e7000b;
  --color-error-border: #e7000b;

  --color-cancel: #6c757d;

  /* vàng */
  --color-pending: #ffc107;

  /* vàng */
  --color-processing-bg: #fef9c2;
  --color-processing-text: #7d2c00;
  --color-processing-border: #7d2c00;
}

@layer base {
  html {
    font-family: "Plus Jakarta Sans", sans-serif !important;
  }
}
